## <center>freeCodeCamp (ðŸ”¥) - Data Analysis with Python</center>

### Project 2 - Demographic Data Analyzer [ðŸ”—](https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-projects/demographic-data-analyzer)

In this challenge you must analyze demographic data using Pandas. You are given a dataset of demographic data that was extracted from the 1994 Census database. Here is a sample of what the data looks like:

|    |   age | workclass        |   fnlwgt | education   |   education-num | marital-status     | occupation        | relationship   | race   | sex    |   capital-gain |   capital-loss |   hours-per-week | native-country   | salary   |
|---:|------:|:-----------------|---------:|:------------|----------------:|:-------------------|:------------------|:---------------|:-------|:-------|---------------:|---------------:|-----------------:|:-----------------|:---------|
|  0 |    39 | State-gov        |    77516 | Bachelors   |              13 | Never-married      | Adm-clerical      | Not-in-family  | White  | Male   |           2174 |              0 |               40 | United-States    | <=50K    |
|  1 |    50 | Self-emp-not-inc |    83311 | Bachelors   |              13 | Married-civ-spouse | Exec-managerial   | Husband        | White  | Male   |              0 |              0 |               13 | United-States    | <=50K    |
|  2 |    38 | Private          |   215646 | HS-grad     |               9 | Divorced           | Handlers-cleaners | Not-in-family  | White  | Male   |              0 |              0 |               40 | United-States    | <=50K    |
|  3 |    53 | Private          |   234721 | 11th        |               7 | Married-civ-spouse | Handlers-cleaners | Husband        | Black  | Male   |              0 |              0 |               40 | United-States    | <=50K    |
|  4 |    28 | Private          |   338409 | Bachelors   |              13 | Married-civ-spouse | Prof-specialty    | Wife           | Black  | Female |              0 |              0 |               40 | Cuba             | <=50K    |

You must use Pandas to answer the following questions:

* How many people of each race are represented in this dataset? This should be a Pandas series with <mark>race</mark> names as the index labels. (race column)
* What is the average age of men?
* What is the percentage of people who have a Bachelor's degree?
* What percentage of people with advanced education (<mark>Bachelors</mark>, <mark>Masters</mark>, or <mark>Doctorate</mark>) make more than 50K?
* What percentage of people without advanced education make more than 50K?
* What is the minimum number of hours a person works per week?
* What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
* What country has the highest percentage of people that earn >50K and what is that percentage?
* Identify the most popular occupation for those who earn >50K in India.

Use the starter code in the file <mark>demographic_data_analyzer</mark>.

### Now, let's code!

In [1]:
#We will use Pandas library, so first we have to import it and read the .csv

import pandas as pd

df=pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
#How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count=df['race'].value_counts()
race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [3]:
# What is the average age of men?
average_age_men = round(df[df['sex'] == 'Male'].age.mean(),1)
print(f'The average age of men is {average_age_men} years')

The average age of men is 39.4 years

In [4]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors= round(df['education'].value_counts().loc['Bachelors']/df['education'].count()*100,1)
print(f"The percentage of people who have a Bachelor's degree is {percentage_bachelors}%")

The percentage of people who have a Bachelor's degree is 16.4%

In [5]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df['education'].isin(['Bachelors','Masters','Doctorate'])].shape[0]
lower_education = df[~df['education'].isin(['Bachelors','Masters','Doctorate'])].shape[0]

# percentage with salary >50K
higher_education_rich = round(df.loc[(df["salary"]  == '>50K') & df['education'].isin(['Bachelors','Masters','Doctorate'])].shape[0] / higher_education * 100, 1)
lower_education_rich = round(df.loc[(df["salary"]  == '>50K') & ~df['education'].isin(['Bachelors','Masters','Doctorate'])].shape[0] / lower_education * 100, 1)

print(f'{higher_education_rich}% of people with advanced education ("Bachelors", "Masters", or "Doctorate") make more than 50K')
print(f'{lower_education_rich}% of people without advanced education make more than 50K')

46.5% of people with advanced education ("Bachelors", "Masters", or "Doctorate") make more than 50K
17.4% of people without advanced education make more than 50K

In [6]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
print(f'Minimum number of hours a person works per week: {min_work_hours}')

Minimum number of hours a person works per week: 1

In [7]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
num_min_workers = df['hours-per-week'].value_counts()[min_work_hours]

rich_percentage = int(df[(df['hours-per-week'] == min_work_hours) & (df["salary"]  == '>50K')].shape[0] / num_min_workers * 100)
print(f'{rich_percentage}% of the people who work {min_work_hours} hours per week have a salary of >50K')

10% of the people who work 1 hours per week have a salary of >50K

In [8]:
# What country has the highest percentage of people that earn >50K?

highest_earning_country = (df[df['salary'] == '>50K']['native-country'].value_counts()/ df['native-country'].value_counts() * 100).sort_values(ascending=False).fillna(0).idxmax()

# What is that percentage?
highest_earning_country_percentage = round(df[(df['salary'] == '>50K') & (df["native-country"]  == 'Iran')].shape[0] / df["native-country"].value_counts()[highest_earning_country] * 100, 1)

print(f'The highest earning country is {highest_earning_country} with a {highest_earning_country_percentage}% of the population earning >50K')

The highest earning country is Iran with a 41.9% of the population earning >50K

In [9]:
# Identify the most popular occupation for those who earn >50K in India.
earn_India= df[(df['salary'] == '>50K') & (df["native-country"]  == 'India')]

top_IN_occupation = earn_India['occupation'].value_counts().idxmax()
print(f'The most popular occupation for those who earn >50K in India is {top_IN_occupation}')

The most popular occupation for those who earn >50K in India is Prof-specialty

### That's all! If you did it in a different way, please feel free to share